.card-text {
	font-size: 30px;
	font-style: italic;
}
.card-title {
	font-size: larger;
}
.card-body {
	width: fit-content;
	background-color: antiquewhite;
}
.list-group-item {
	background-color: antiquewhite;
}
.trigger {
	font-size: 25px;
	margin-left: 15px;
}