


.card-text {
	font-size: 20px;
	font-style: italic;
	font-weight: 100;
}
.card-title {
	font-size: larger;
}
.card-body {
	background-color: antiquewhite;
}
.list-group-item {
	background-color: antiquewhite;
}
.trigger {
	font-size: 15px;
	margin-left: 15px;

}
.card {
	background-color: antiquewhite;
	width: 0rem;

}
.but {
	padding: 0 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 33px;
}
.btn {
	display: inline-block;
	margin: 0 8px;
	text-align: center;
}
.row {
	align-content: center;
	margin-bottom: 6px;
}

.aside {
	padding: 10%;
	display: flex;
}

.fullPage {
	width: 0%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 10px;
}

.thingIdo {
	margin-left: 10px;
	height: 0%;
}

.aboutMe {
	margin-top: 10px;
}

.card-foot {
	display: flex;
	flex-direction: column;
	margin-left: 0%;	
}


@media screen and (max-width: 600px) {
	
}